@page "/clientsearch"
@inherits AuthorizationComponent
@using AfiliacionesCirsa.ViewModels
@using AfiliacionesCirsa.Shared.ClientSearchPage
@inject IClienteSearchViewModel vm;

<PageTitle>Client Search</PageTitle>
<div class="row">
    <div class="col-12">
        <div class="titlediv">
            <h4 class="title is-4">Busqueda de afiliados</h4>

        </div>
    </div>
</div>

<div class="row">
        <div class="col-12">
            <div class="titlediv">

                <div class="col-12">
                <div class="col-12">
                    <div class="filtercontainer mt-4 mb-4">
                        <div class="row">


                            <div class="col-md-4 col-sm-12">
                                <div class="field">
                                    <label class="label">Correo electrónico</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input filterinput" type="text" placeholder="Correo electrónico" @bind="@SelectedMail">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-4 col-sm-12">
                                <div class="field">
                                    <label class="label">Nombre completo</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input filterinput" type="text" placeholder="Nombre completo" @bind="@SelectedName">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-12">
                                <label class="label">Fecha</label>
                                <div class="control has-icons-left">
                                    <div class="select is-fullwidth">
                                        <select class="filterinput" @bind="@SelectedDate">
                                            @foreach (var option in vm.dateOptions)
                                            {
                                                <option value="@option">@option.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="icon is-small is-left">
                                        <i class="far fa-calendar-alt"></i>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="filtercontainer mt-4 mb-4">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <button onsubmit="@(()=>vm.Filter(SelectedDate, SelectedName, SelectedMail))" onclick="@(()=>vm.Filter(SelectedDate, SelectedName, SelectedMail))" class="button yellowbutton is-fullwidth">
                                    <i class="fas fa-search"></i>&nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="titlediv">
                                <h4 class="title is-4">Tus usuarios afiliados</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-12">
                    <ClientCarrousel Clientes="@vm.clientes"></ClientCarrousel>
                </div>
            
            </div>
        </div>

    </div>

@code {
    private List<ClienteAfiliado> clientes = new List<ClienteAfiliado>();

    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitialize();

    }
    string SelectedDate = String.Empty;
    string SelectedName = String.Empty;
    string SelectedMail = String.Empty;
}
