@page "/settings"
@using AfiliacionesCirsa.ViewModels
@inject IProfileViewModel vm;
@inherits AuthorizationComponent

<PageTitle>Configuración</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="titlediv">
                <h4 class="title is-4">Configuración
                </h4>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="titlediv">

                <h3>Opciones de Configuración</h3>

                @if (vm.isBusy)
                {
                    <p>LOADING....</p>
                }
                else
                {
                    
                    
                    <p>Aquí puedes configurar tus preferencias:</p>
                    @vm.my_user.NombreCompleto
                    @vm.my_user.TimeCreated
                    @vm.my_user.EmailAddress
                    @vm.my_user.Id
                    @vm.my_user.Password
                }
            </div>
        </div>
    </div>
</div>


<!-- Agrega elementos de configuración -->
@code {
    // Agregar lógica para manejar las opciones de configuración
    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitialize();
    }
}
